{% extends "layout.html" %}

  <div>Hello!</div>

{% block content %}


  <div class="panel panel-default" id="draggable">

        <div class="panel-body">
          <div>
            <label for="Hotels" class="opaque">Hotels</label>
          </div>
          <div>
            <div class="col-lg-11">
              <select class="form-control background-white opaque" name="Hotels">
                {% for hotel in hotels %}
                  <option value="{{hotel.name}}" id="hotelSelection">{{hotel.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-1">
              <a href="#" class="opaque" id="target1">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div>
            <label for="Restaurants" class="opaque">Restaurants</label>
          </div>
          <div class="col-lg-11">
            <select class="form-control background-white opaque" name="Restaurants">
              {% for restaurant in restaurants %}
                <option value="{{restaurant.name}}" class="opaque">{{restaurant.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg-1">
            <a href="#" class="opaque">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </div>
          <!-- <button class="btn-xs btn-circle btn-primary">+</button> -->
        </div>

          <div class="panel-body">
            <div>
              <label for="Activities" class="opaque">Activities</label>
            </div>
            <div class="col-lg-11">
              <select class="form-control background-white opaque" name="Activities">
                {% for activity in activities %}
                  <option value="{{activity.name}}">{{activity.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-1">
              <a href="#" class="opaque">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </div>
            <!-- <button class="btn-xs btn-circle btn-primary">+</button> -->
      </div>
  </div>

  <div class="panel panel-default" id="draggable2">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
          <div class="btn-group opaque" role="group" aria-label="1">1</div>
          <div class="btn-group opaque" role="group" aria-label="2">2</div>
          <div class="btn-group opaque" role="group" aria-label="3">3</div>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <div>
        <label for="My Hotel" class="opaque">Hotels</label>
      </div>
      <div>
        <div class="col-lg-11">
          <!-- <select class="form-control" name="Hotels">
            {% for hotel in hotels %}
              <option value="{{hotel.name}}" class="background-white opaque">{{hotel.name}}</option>
            {% endfor %}
          </select> -->
          <p>{{hotelSelection}}</p>
        </div>
        <div class="col-lg-1">
          <a href="#" class="anchor">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <label for="Hotels">Hotels</label>
    <select class="" name="Hotels">
      {% for hotel in hotels %}
        <option value="{{hotel.name}}">{{hotel.name}}</option>
      {% endfor %}
    </select>
    <label for="Restaurants">Restaurants</label>
    <select class="" name="Restaurants">
      {% for restaurant in restaurants %}
        <option value="{{restaurant.name}}">{{restaurant.name}}</option>
      {% endfor %}
    </select>
    <label for="Activities">Activities</label>
    <select class="" name="Activities">
      {% for activity in activities %}
        <option value="{{activity.name}}">{{activity.name}}</option>
      {% endfor %}
    </select>
  </div> -->

{% endblock %}

      <!-- {% for hotel in hotels %}
      {% endfor %} -->
